
<div class="footer">
<div class="container">

    <div class="row">
      <div class="four columns mission">
        <p class="headinglike" style="font-size: 20px; font-weight:300;"><%= @subdomain %></p>
        <p>Our mission is to provide the high quality professional tertiary education including undergraduate, post graduate, executive and continuing education.
        </p>
        <ul class="social">
            <li>
              <a href="#" title="Twitter">
                <img class = "footer_icon" alt="Icon-twitter-new" src="/assets/twitter.png">
              </a>
            </li>
            <li>
              <a href="#" title="Youtube">
                <img class = "footer_icon"  alt="Icon-youtube" src="/assets/youtube.png">
              </a>
            </li>
            <li>
              <a href="#" title="Facebook">
                <img class = "footer_icon"  alt="Icon-facebook-new" src="/assets/facebook.png">
              </a>
            </li>
            <li>
              <a href="#" title="Google Plus">
                <img class = "footer_icon"  alt="Icon-googleplus" src="/assets/googleplus.png">
              </a>
            </li>
            <li>
              <a href="#" title="LinkedIn">
                <img class = "footer_icon"  alt="Icon-linkedin" src="/assets/linkedin.png">
              </a>
            </li>
        </ul>
        <p class="copyright">
          © 2013 <%= @subdomain %>.
        </p>
      </div>
      
    </div>
</div>
</div>
