<br>
<div class="row">
	<div class="span12 offset3">
		<ul class="nav nav-pills .pull-left">
			<li >
				<%= link_to "Users", users_path %>
			</li>
		<li class="active"><%= link_to "New Account",new_account_path %></li>
		<li ><%= link_to "Manage Account",accounts_path %></li>
	</ul>
	<h3 align = "center">New Account</h3>
	<%- model_class = Account -%>
	<%= render :partial => 'form' %>
</div>
</div>